<main>
  <article class="card">
    <h2>{{data.name}}</h2>
    <!--Name restaurant -->
    <img
      src="../../static/images/{{data.img}}.jpg"
      alt="Picture of the restaurant"
    />
    <div class="shadow"></div>
    <section class="location">
      <!--Location -->
      <img src="../../static/images/location.png" alt="Location icon" />
      <p>{{data.address}}</p>
    </section>
    <section class="time">
      <!--Opening/closing time -->
      <img src="../../static/images/time.png" alt="Time icon" />
      <p>{{data.time}}</p>
    </section>
    <!--Reviewscore -->
    <section class="stars"> 
      <img src="../../static/images/{{data.stars}}.png" alt="Review stars">
    <section>
      <!--Like/dislike buttons -->
      <form action="/dislike" method="POST">
        <input
          id="dislikebutton"
          type="image"
          src="../../static/images/dislike.png"
          alt="Dislike button"
        />
      </form>
      <form action="/like" method="POST">
        <input
        id="likebutton"
          type="image"
          src="../../static/images/likes.png"
          alt="Like button"
        />
      </form>
    </section>
  </article>
</main>

    <script src="static/javascript/swipe.js"></script>
