<body id="likes">
    {{>header}}

    <section id="head">
        <h1>Likes</h1>
        <a href="filter"><img src="../static/images/filter.png" alt="Filter"></a>
    </section>

    {{#each data}}
    <article class="animate">
        <div>
            <img src="../../static/images/{{this.img}}.jpg" alt="Picture of the restaurant">
        </div>
        <div>
            <h2>{{this.name}}</h2> <!--Name restaurant -->
            <section class="location" > <!--Location -->
                <img src="../static/images/location.png" alt="Location icon">
                <p>{{this.distance}} km away</p> 
            </section>
            <section class="review" > <!--Reviewscore -->
                <img src="../../static/images/{{this.stars}}.png" alt="Review stars">
            </section>
            <section class="price" > <!--Price -->
                <p>{{this.price}}</p>
            </section>
            <section class="time" > <!--Opening/closing time -->
                <img src="../static/images/time.png" alt="Time icon">
                <p>{{this.time}}</p> 
            </section>
        </div>
    </article>
    {{/each}}

    {{>nav}}

    <script src="static/javascript/likes.js"></script>

</body>