{{>header}}

<h1>Account</h1>

<ul>
    <li>{{fname}}</li>
    <li>{{lname}}</li>
    <li>{{email}}</li>
</ul>

<form method='POST' action="/delete" id="delete">
    <button type="submit" name="deleteId" value="{{this._id}}">Delete</button>
</form>

<form method='POST' action="/update" id="update">
    <button type="submit" name="updateId" value="{{this._id}}">Edit</button>
</form>
             

{{>nav}} 